# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

name: Static Code Analysis

on:
  workflow_call:
    inputs:
      bazel-target:
        description: "Custom Bazel target to run (e.g.: 'run //:static-analysis')"
        required: false
        default: "run //:static-analysis"
        type: string

jobs:
  static-analysis:
    name: Static Code Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Setup Bazel with shared caching
        uses: bazel-contrib/setup-bazel@0.18.0
        with:
          disk-cache: true
          repository-cache: true
          bazelisk-cache: true
          cache-save: ${{ github.event_name == 'push' }}

      - name: Run Static Analysis via Bazel
        run: |
          echo "Running: bazel ${{ inputs.bazel-target }}"
          bazel ${{ inputs.bazel-target }}